<!DOCTYPE html> 
<html lang="en"> 

<head>
</head>

<body>
    <h1>
        The Terminal
    </h1>

    <p>
        When Viktor Navorski (Tom Hanks), an Eastern European tourist, 
        arrives at JFK in New York, war breaks out in his country and he
        finds himself caught up in international politics. Because of the war, 
        the Department of Homeland Security won't let him enter or exit the United 
        States. He's trapped at JFK -- indefinitely. While living at the airport, 
        Viktor falls for a flight attendant (Catherine Zeta-Jones). She may have 
        feelings for him too. But what good is love if Viktor can't leave the terminal?
    </p>
</body>

</html>