<!DOCTYPE html> 
<html lang="en"> 
<head>
<link rel="stylesheet" href="/static/firstwebsite.css">
</head>
<body>

<div class="top">
    <a style="color:deeppink" href="file:///C:/Users/Ke_Su/greenfox/kesu1991/week-02/day-4/First_Website/firstweb.html">HOME</a>
    <a style="color:deeppink" href="https://www.wikipedia.org/">WIKI</a>
    <a style="color:deeppink"href="https://github.com">GITHUB</a>
    <a style="color:deeppink" href="https://www.linkedin.com/">LINKEDIN</a>
</div>

<div class="bottom">
    <h1 class="tony">
        Tony Stark
    </h1>
    <h2 class="software" style="color:deeppink">
        Fullstack software developer
    </h2>
    <p class="para">
        I love to design complex systems with high levels of automation 
        including AI and robotics. I'm<br>deeply interested in inventing 
        new things that can augment the human experience.<br>
        <br>Everthing I've done, everthing I'ii do today, everthing I'ii
        ever do, I do to protect this world. Someone once told me that with 
        great power comes great responsibility.
    </p>
    
    <h2 class="wiki" style="text-align: center">
        Technology Wiki
    </h2>

    <h3 class="set" style="padding-left:30px">
        Instruction Set
    </h3> 

    <p class="end">
        All computers run using very low level commands which do some very 
        basic functions, such as reading data, writing data, jumping<br>
        to addresses, and calculating basic arithmetic. (The complete list
        of commands that can be run by a CPU is know as that)
    </p>   
</div>  

</body>



</html>