<!DOCTYPE html> 
<html lang="en"> 

<head>
</head>

<body>
    <h1>
        List of My Favourite Movies
    </h1>

    <div>
        <ul>
            <li><a href="http://127.0.0.1:5000/1900">The Legend of 1900</a></li>
            <li><a href="http://127.0.0.1:5000/the_terminal">The Terminal</a></li>
            <li><a href="http://127.0.0.1:5000/forrest_gump">Forrest Gump</a></li>
            <li><a href="http://127.0.0.1:5000/the_post">The Post</a></li>
            <li><a href="http://127.0.0.1:5000/avengers_endgame">Avengers: endgame</a></li>
        </ul>
    </div>
</body>

</html>